.footer-margin
        .card-footer
        img#footerLogo(src='assets/images/footerlogo.png', alt='footer')
        br
        | Copyright 2019 
        br
        | All Rights Reserved. Created by NCN. 