doctype html

html
    head
        meta(charset='UTF-8')
        |     
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        |     
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        |     
        title NCN SHOPIFY
        // Bootstrap
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        // CSS
        link(rel='stylesheet', href='/assets/css/style.css')
        // jQuery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        // Google Fonts
        |
        link(href='https://fonts.googleapis.com/css?family=Caveat|Abel|Nanum+Pen+Script|Acme|Raleway+Dots|Chilanka|Sacramento&display=swap', rel='stylesheet')
        // Font Awesome Icons
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.0/css/all.css')     
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css')
        |     
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        |     
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        |     
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
        |     
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
    body
        .jumbotron
            #logo
                img(src='/assets/images/logo7.png', alt='logo')
            |         
            .topnav
                
                a.active(href='#home') Home
                | &nbsp&nbsp&nbsp&nbsp
                |             
                a(href='#contact') Contact
                | &nbsp&nbsp&nbsp&nbsp
                |             
                a(href='#about') About
                | &nbsp&nbsp&nbsp&nbsp
                |             
                a(href='#cart')
                i.fas.fa-shopping-cart
                | &nbsp&nbsp&nbsp&nbsp   
            
        .bg-image.aisle2
            .container
                .row
                    #tagline
                        | Shopping Made Easy
                br
                |             
                .row
                    #box1
                        i.far.fa-list-alt
                        br
                        |                     
                        #howTo
                        | Add items to list
                        br
                        | to be purchased
                        |                     
                        .col-2
                    |

                    #box2
                        i.fas.fa-check-double
                        br
                        |                     
                        #howTo
                            | Check off the items purchased
                            br
                            | and add to your &quot;in-kitchen&quot; list
                            |                     
                        .col-2
                    |                 
                    #box3
                        .col-2
                        |                     
                        i.fas.fa-comments-dollar
                        |                     
                        #howTo
                        | Re-adding an item from your
                        br
                        | &quot;in-kitchen&quot; list will notify user 
                        br
                        | they already
                        |                         have it at home
                br
                br
                br

        .bg-image-color1
            .container
                .row
                #tagline4
                    i.fas.fa-grip-lines
                    |  FAST &amp; EFFICIENT 
                    i.fas.fa-grip-lines

        .bg-image.aisle4
            .container
                .row
                #infoLists
                    | Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    | Placeholder
                    br
                    |  Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    |                     Placeholder Placeholder
                    br
                    |  Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    |                     Placeholder
                    br
                    |  Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |  Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |                     Placeholder Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |  Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |  Placeholder
                    |                     Placeholder Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |  Placeholder Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                br
                br
                br

        .bg-image-color2
            .container
                .row
                #tagline5
                    | simplify with shopify

        .bg-image.aisle5
            .container
                .row
                #infoLists
                    | Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    | Placeholder
                    br
                    |  Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    |                     Placeholder Placeholder
                    br
                    |  Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    |                     Placeholder
                    br
                    |  Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |  Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |                     Placeholder Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |  Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |  Placeholder
                    |                     Placeholder Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |  Placeholder Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                br
                br
                br