.jumbotron {
    color: black;
    background-color: white;
    height: 170px;
}

#logo {
    position: absolute;
    left: 1;
    top: 0;
}

.topnav {
    float: right;
    margin-top: 90px;
    font-size: 20px;
    color: black;
    font-family: 'Abel', sans-serif;
}

a {
    color: black;
}

.bg-image {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aisle1 {
    background-image: url("/assets/images/aisle1.jpg");
    height: 100%
}

.aisle2 {
    background-image: url("/assets/images/aisle2.jpg");
    height: 100%
}

.aisle3 {
    background-image: url("/assets/images/aisle3.jpg");
    height: 100%
}

.aisle4 {
    background-image: url("/assets/images/aisle4.jpg");
    height: 100%
}

.aisle5 {
    background-image: url("/assets/images/aisle5.jpg");
    height: 100%
}

#tagline {
    margin: 0 auto;
    margin-top: 60px;
    font-size: 80px;
    color: white;
    font-family: 'Nanum Pen Script', cursive;
}

#tagline2 {
    float: left;
    margin-top: 50px;
    font-family: 'Abel', sans-serif;
    font-size: 27px;
    color: black;
}

#tagline3 {
    float: left;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color: black;
}

#tagline4 {
    font-family: 'Abel', sans-serif;
    font-size: 80px;
    margin-left: 18%;
    color: white;
}

#tagline5 {
    color: white;
    font-size: 80px;
    font-family: 'Raleway Dots', cursive;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.triple-box {
    width: 260px;
    height: 200px;
    background: white;
    opacity: 0.78;
    border-radius: 10%;
    margin: 0 auto;
    margin-top: 1rem;
    cursor: pointer;
}

.fa-list-alt,
.fa-check-double,
.fa-comments-dollar {
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 105px;
    font-size: 40px;
    color: black;
    cursor: pointer;
}

.fa-quote-left,
.fa-quote-right {
    font-size: 28px;
}

.fa-quote-left {
    float: left;
}

.fa-quote-right {
    float: right;
}

#bubble {
    margin-left: 82px;
}

.fa-star {
    color: #F3D82B;
}

#howTo {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: black;
    font-size: 20px;
    margin-top: 12px;
}

#infoLists {
    font-size: 20px;
    color: white;
    font-family: 'Abel', sans-serif;
    margin-top: 80px;
    text-align: center;
}

.card-footer {
    text-align: center;
    background-color: white;
}

.footer-margin {
    text-align: center;
    padding-bottom: 20px;
    color: black;
    font-size: 12px;
    background-color: white;
}

.bg-image-color1 {
    background-color: black;
    opacity: 0.8;
    border-top: 2px solid white;
}

.bg-image-color2 {
    background-color: black;
    opacity: 0.85;
}

.fa-circle {
    font-size: 20px;
    margin-top: -20px;
}

.bg-white {
    background-color: white;
}


/* ////// NEW */

#list-builder {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: #333; */
    /* filter: alpha(opacity=80);
    opacity: 0.8; */
    background-color: rgba(114, 93, 93, 0.534);
    display: none;
}

#popup-box {
    font-family: 'Abel', sans-serif;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    width: 90%;
    max-width: 600px;
    padding: 40px;
    border: 10px solid lightgray;
    border-radius: 10px;
    display: none;
}

#popup-close {
    position: absolute;
    top: 9px;
    right: 9px;
    cursor: pointer;
    width: 30px;
}

#popup-box h1 {
    margin: 0
}

#popup-box form {
    margin-bottom: 0px;
}

#popup-box input {
    padding: 10px;
    border: 1px solid #333;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
}

#popup-box button {
    padding: 10px;
    border: 1px solid lightgray;
    cursor: pointer;
}

button {
    width: 150px;
    border-radius: 10px;
    background-color: #2989F7;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    color: white;
}


/* ////// NEW */

.bg-image-color3 {
    background-color: black;
    opacity: 0.85;
}

#teamline {
    font-size: 70px;
    font-family: 'Abel', sans-serif;
    color: black;
    background-color: rgb(223, 223, 35);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h4 {
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    color: white;
    margin-top: 20px; 
}

p2 {
    font-family: 'Abel', sans-serif;
    font-size: 21px;
    color: white;
}

#nathan,
#casey,
#nicole {
    border: 7px solid #e6e3e3ef;
    border-radius: 75px;
    background-color: #e6e3e3ef;
    margin-top: 50px; 
}

#image-holder {
    padding: 1rem;
}