doctype html

html
    head
        meta(charset='UTF-8')

        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        meta(http-equiv='X-UA-Compatible', content='ie=edge')
             
        title NCN SHOPIFY
        
        // Bootstrap
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")

        // CSS
        link(rel='stylesheet', href='/assets/css/style.css')
        
        // jQuery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js')
        script(src='assets/javascript/app.js')

        
        // Google Fonts
        
        link(href='https://fonts.googleapis.com/css?family=Caveat|Abel|Nanum+Pen+Script|Acme|Raleway+Dots|Reenie+Beanie|Chilanka|Sacramento&display=swap', rel='stylesheet')

        // Font Awesome Icons
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.0/css/all.css')     
             
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
             
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
            
        
        //- // Sweet Alert
        script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
        
    body