include head
include jumbo
block index
    #list-builder
        #popup-box 
            img#popup-close(src='assets/images/close.png')
            #popup-box-content 
            h1 Sign-in or Create Account
                br
                br
                div(id='“signinMessage”')
            form#popup-form(action='https://email_list_service_api.com')
                input(type='hidden' name='list' value='key_list_etc') 
                input(type='text' id='username' placeholder='Email Address') 
                = ' '
                input(type='password' id='password' placeholder='Password')
                br
                button(type='button' id='signin') Sign in
                br
                hr
                br
                div(id='“createMessage”')
                input(type='hidden' name='list' value='key_list_etc')
                input(type='text' id='first-name' placeholder='First Name') 
                = ' '
                input(type='text' id='last-name' placeholder='Last Name') 
                = ' '
                input(type='text' id='new-username' placeholder='Email Address')
                = ' '
                input(type='password' id='new-password' placeholder='Create Password')
                br
                button(type='button' id='create') Create Account              
        
    .bg-image.aisle2
        .container
            .row
                #tagline
                    | Shopping Made Easy
            br
            |             
            .row
                div#box1.triple-box
                    i.far.fa-list-alt
                    br
                    |                     
                    #howTo
                        | Add items to list
                        br
                        | to be purchased
                        |                     
                    .col-2
                |

                div#box2.triple-box
                    i.fas.fa-check-double
                    br
                    |                     
                    #howTo
                        | Check off the items purchased
                        br
                        | and add to your &quot;in-kitchen&quot; list
                        |                     
                    .col-2
                |                 
                div#box3.triple-box
                    .col-2
                    |                     
                    i.fas.fa-comments-dollar
                    |                     
                    #howTo
                        | Re-adding an item from your
                        br
                        | &quot;in-kitchen&quot; list will notify user 
                        br
                        | they already
                        |                         have it at home
            br
            br
            br

    .bg-image-color1
        .container
            .row
            #tagline4
                i.fas.fa-grip-lines
                |  FAST &amp; EFFICIENT 
                i.fas.fa-grip-lines

    .bg-image.aisle4
        .container
            .row
            #infoLists
                | Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                | Placeholder
                br
                |  Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                |                     Placeholder Placeholder
                br
                |  Placeholder
                |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                br
                |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                |                     Placeholder
                br
                |  Placeholder Placeholder
                |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                br
                |  Placeholder
                |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                br
                |                     Placeholder Placeholder Placeholder
                |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                br
                |  Placeholder Placeholder
                |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                br
                |  Placeholder
                |                     Placeholder Placeholder Placeholder
                |                     Placeholder Placeholder Placeholder Placeholder Placeholder
                br
                |  Placeholder Placeholder Placeholder
                |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                br
            br
            br
            br

    .bg-image-color2
        .container
            .row
            #tagline5
                | simplify with shopify

    .bg-white
        .container
        .row 
        #reviews
           | Rates and Reviews
           br
           

        .row 
            .lg-col-6
            #tagline2
                i.fas.fa-quote-left
                |  &nbspVery simple to use. I have an easier time finding things
                br
                |  while shopping and helps me prepare meals for my family&nbsp
                i.fas.fa-quote-right
                br
                #member - Ronessa, a member since 5/19
                img(src='/assets/images/ronessa.png')
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                br
                br
                hr

            .lg-col-6
            #tagline6
                i.fas.fa-quote-left
                |  &nbspShopify is so convenient. 
                |  No more aimless wandering 
                br
                |  around the grocery store aisles. 
                |  I save money this way.&nbsp
                i.fas.fa-quote-right
                br
                #member - Aaron, a member since 1/19
                img(src='/assets/images/aaron.png')
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                br
                br
                hr

            .row 
            .lg-col-6
            #tagline2
                i.fas.fa-quote-left
                |   &nbspPretty simple to use and follow along with while shopping&nbsp
                i.fas.fa-quote-right
                br
                #member - Bryan, a member since 8/19
                img(src='/assets/images/bryan.png')
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                span#star.fa.fa-star.fa-xs

            .lg-col-6
            #tagline6
                i.fas.fa-quote-left
                |   &nbspI love this app!!!!! Great for organizing your list.&nbsp
                i.fas.fa-quote-right
                br
                #member - Caroline, a member since 3/19
                img(src='/assets/images/caroline.png')
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                span.fa.fa-star.fa-xs
                

    .bg-image-color3
        .container
            #teamline
                | MEET THE CREATORS

            div#image-holder.row
            
                .col-4
                    img#nathan(src='/assets/images/nathan.png', alt='nathan')
                    .container
                    h4 Nathan Hill 
                    p2 Server-side + DB, Back-End Developer 
                    

                .col-4
                    img#casey(src='assets/images/casey.png', alt='casey')
                    .container
                    h4 Casey Carroll
                    p2 Innovation, New Technology Developer
                    

                .col-4
                    img#nicole(src='assets/images/nicole.png', alt='nicole')
                    .container
                    h4 Nicole LaSusa
                    p2 Creative Design, Front-End Developer 
                    br
                    br
                    br
                    //- .fab.fa-facebook-f
                    //- .fab.fa-linkedin-in
                    //- .fab.fa-twitter

    .footer-margin
        .card-footer
        img#footerLogo(src='assets/images/footerlogo.png', alt='footer')
        br
        | Copyright 2019 
        br
        | All Rights Reserved. Created by NCN. 