doctype html

html
    head
        meta(charset='UTF-8')
        |     
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        |     
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        |     
        title NCN SHOPIFY
        // Bootstrap
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        // CSS
        link(rel='stylesheet', href='/assets/css/style.css')
        // jQuery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        // Google Fonts
        |
        link(href='https://fonts.googleapis.com/css?family=Caveat|Abel|Nanum+Pen+Script|Acme|Raleway+Dots|Chilanka|Sacramento&display=swap', rel='stylesheet')
        // Font Awesome Icons
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.0/css/all.css')     
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css')
        |     
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        |     
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        |     
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
        |     
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.0/css/all.css', integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ', crossorigin='anonymous')
        |
        // JQuery & Java
        script(src='ttp://code.jquery.com/jquery-3.3.1.min.js')
        script(src='assets/javascript/app.js')
    body

        #list-builder
            #popup-box 
                img#popup-close(src='assets/images/close.png')
                #popup-box-content 
                h1 Sign-in or Create Account
                p 
                    | Stay up to date on the latest in the shopify app, plus receive exclusive coupons by
                    | subscribing to our newsletter. 
                    br
                    br
                form#popup-form(action='https://email_list_service_api.com')
                    input(type='hidden' name='list' value='key_list_etc') 
                    input(type='text' name='' placeholder='Email Address') 
                    = ' '
                    input(type='password' name='' placeholder='Password')
                    br
                    button(type='button' name='signin') Sign in
                    br
                    hr
                    br
                    input(type='hidden' name='list' value='key_list_etc')
                    input(type='text' name='' placeholder='Full Name') 
                    = ' '
                    input(type='text' name='' placeholder='Email Address')
                    = ' '
                    input(type='password' name='' placeholder='Create Password')
                    br
                    button(type='button' name='create') Create Account
                
            

        .jumbotron
            #logo
                img(src='/assets/images/logo7.png', alt='logo')
            |         
            .topnav
                
                a.active(href='#home') Home
                | &nbsp&nbsp&nbsp&nbsp
                |             
                a(href='#contact') Contact
                | &nbsp&nbsp&nbsp&nbsp
                |             
                a(href='#about') About
                | &nbsp&nbsp&nbsp&nbsp
                |             
                a(href='#cart')
                i.fas.fa-shopping-cart
                | &nbsp&nbsp&nbsp&nbsp   
            
        .bg-image.aisle2
            .container
                .row
                    #tagline
                        | Shopping Made Easy
                br
                |             
                .row
                    #box1
                        i.far.fa-list-alt
                        br
                        |                     
                        #howTo
                            | Add items to list
                            br
                            | to be purchased
                            |                     
                        .col-2
                    |

                    #box2
                        i.fas.fa-check-double
                        br
                        |                     
                        #howTo
                            | Check off the items purchased
                            br
                            | and add to your &quot;in-kitchen&quot; list
                            |                     
                        .col-2
                    |                 
                    #box3
                        .col-2
                        |                     
                        i.fas.fa-comments-dollar
                        |                     
                        #howTo
                            | Re-adding an item from your
                            br
                            | &quot;in-kitchen&quot; list will notify user 
                            br
                            | they already
                            |                         have it at home
                br
                br
                br

        .bg-image-color1
            .container
                .row
                #tagline4
                    i.fas.fa-grip-lines
                    |  FAST &amp; EFFICIENT 
                    i.fas.fa-grip-lines

        .bg-image.aisle4
            .container
                .row
                #infoLists
                    | Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    | Placeholder
                    br
                    |  Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    |                     Placeholder Placeholder
                    br
                    |  Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    |                     Placeholder
                    br
                    |  Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |  Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |                     Placeholder Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |  Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |  Placeholder
                    |                     Placeholder Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                    |  Placeholder Placeholder Placeholder
                    |                     Placeholder Placeholder Placeholder Placeholder Placeholder Placeholder
                    br
                br
                br
                br

        .bg-image-color2
            .container
                .row
                #tagline5
                    | simplify with shopify
                    br

        .bg-image-color3
            .container
                #teamline
                    | MEET THE CREATORS

                .row
                br
                br
                .col-4
                    img(src='/assets/images/nathan.png', alt='nathan')
                    .container
                    h4 Nathan Hill 
                    p2 Server-side + DB, Back-End Developer 
                    

                .col-4
                    img(src='assets/images/casey.png', alt='casey')
                    .container
                    h4 Casey Carroll
                    p2 Innovation, New Technology Developer
                    

                .col-4
                    img(src='assets/images/nicole.png', alt='nicole')
                    .container
                    h4 Nicole LaSusa
                    p2 Creative Design, Front-End Developer 

        .footer-margin
            .card-footer
            img(src='assets/images/footerlogo.png', alt='footer')
            br
            | All Rights Reserved. Created by NCN. 