.jumbotron
        #logo
            img(src='/assets/images/logo7.png', alt='logo')
        |         
        .topnav
            
            a.active(href='/') Home
            | &nbsp&nbsp&nbsp&nbsp
            |             
            a(href='/logout') Log Out
            | &nbsp&nbsp&nbsp&nbsp
            |   
            a(href='/contact') Contact
            | &nbsp&nbsp&nbsp&nbsp
            |             
            a(href='/user')
            i.fas.fa-shopping-cart
            | &nbsp&nbsp&nbsp&nbsp