.navbar.navbar-expand-sm.navbar-light.justify-content-between
    img(id="logo" src='/assets/images/logo7.png' alt='logo' width="100" height="100")
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#links" aria-controls="#links" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    #links.collapse.navbar-collapse
        .navbar-nav.ml-auto
            a(class="nav-item nav-link  mx-auto active" href="/") Home
            a(id="account-tab" class="nav-item nav-link mx-auto trigger-modal" ) Account
            a(id="account-tab" class="nav-item nav-link mx-auto trigger-modal" href="/user") Account/user
            //- a(id="sign-up-tab" class="nav-item nav-link mx-auto trigger-modal" ) Sign up
            //- a(id="sign-up-tab" class="nav-item nav-link mx-auto trigger-modal" href="/user") Sign up
            a(class="nav-item nav-link mx-auto" href="/") Contact
            