include head


include jumbo   
block user 
    .bg-image.list1
        .container 
            .row
            #welcome Welcome Back, 
            #user 
        p
            | *Drag &amp; drop to rearrange items within grocery lists or between lists.
            br
            | Double-click to move item from one list to the bottom of the other.
            br
            br

    .bg-image-color3 
        br
        .container
            .row
                .lg-col-4
                    .grocery-add
                        label Add to List:
                        form(class="create-form" action="/api/newitem" method="POST")
                            .form-group
                                //- label Burger Name:
                                input(type="text" name="item")
                                br
                                label Add Category
                                br
                                input(type="text" name="category")
                                br
                                button(type="submit") Add it
                .lg-col-4
                    .left
                        label Add to List:
                        ul#allGroceries.grocery-list
                            li.item Milk
                            li.item Coffee
                            li.item Pasta
                            li.item Rice
                            li.item Hamburgers
                            li.item Hot Dogs 
                            li.item Toilet Paper
                            li.item Apple Juice
                            li.item Gatorade
                            li.item Pretzels
                            li.item Seltzer 
    
                .lg-col-4
                    .right 
                        label Your Shopping List: 
                        ul#userGroceries.grocery-list
                            li.item Toilet Paper
                            li.item Paper Plates
                            li.item Trail Mix