include head
include jumbo   
block user 
    .bg-image.list1
        .container 
            #{data}
            .row
        #welcome Welcome Back, #{user.firstName}
        p
            | Double-click to move item from one list to the bottom of the other.
            br
            br

    .bg-image-color4 
        br
        .container
            .row
                .lg-col-4
                    .grocery-add
                        label Add to List:
                        form(class="create-form" action="/api/newitem" method="POST")
                            .form-group
                                //- label Burger Name:
                                input(type="text" name="name")
                                br
                                label Add Category
                                br
                                input(type="text" name="category")
                                br
                                button(type="submit") Add it
                .lg-col-4
                    .left
                        label Add to List:
                        ul#allGroceries.grocery-list 
                            #{data}
                            for item, i in items
                                //- li(class="item ui-sortable-handle" style="display: list-item;")=item.name 
                                li.item=item.name
                            //- li.item Milk
                            //- li.item Coffee
                            //- li.item Pasta
                            //- li.item Rice
                            //- li.item Hamburgers
                            //- li.item Hot Dogs 
                            //- li.item Toilet Paper
                            //- li.item Apple Juice
                            //- li.item Gatorade
                            //- li.item Pretzels
                            //- li.item Seltzer 
    
                .lg-col-4
                    .right 
                        label Your Shopping List: 
                        ul#userGroceries.grocery-list
                            li.item Toilet Paper
                            li.item Paper Plates
                            li.item Trail Mix